{% extends "loginApp/header.html" %}

{% block title %}Fokepernyo{% endblock %}

{% block content %}
{% if user.is_authenticated %}



    <h1>Hello {{ user.username }}</h1>
    <a href="{% url 'codenames:create_room' %}" class="btn btn-primary mb-3">Szoba letrehozasa</a>

    <form action="{% url 'codenames:join_room' %}" method="post">
    <div class="form-group">
        {% csrf_token %}
    <input id="joinCode" name="joinCode" class="form-control" type="number" size="4" placeholder="Room join code" />
    <input type="submit" class="btn btn-success mt-3" value="csatlakozas" />
    </div>

    </form>

{% endif %}

{% endblock %}