{% extends 'loginApp/header.html' %}
{% load customtemplates %}

{% block title %}{{ room_id }} számú szoba{% endblock %}

{% block content %}

    <div class="flex-container mt-4">
        <h2>#{{ room_id }} szoba, jatekosok szama: <span id="playersCount">0</span> db</h2>
    </div>

    <div class="flex-container mt-4" style="width: 100%;" id="playersList">
    <div class="row justify-content-center">
        <div id="pirosCsapat" class="col">
            <span>Piros csapat:</span><button class="btn" id="red_team" name="joinButton"><i class="fas fa-plus"></i></button>
            <ul id='pirosCsapatUl' class="list-group lists">
            </ul>
            <span>spyMaster:</span><button class="btn" id="red_master" name="joinButton"><i class="fas fa-plus"></i></button>
            <ul id="pirosSpyMaster" class="list-group"></ul>
        </div>
        <div id="kekCsapat" class="col">
          <span>Kek csapat:</span><button class="btn" id="blue_team" name="joinButton"><i class="fas fa-plus"></i></button>
          <ul id='kekCsapatUl' class="list-group lists">
            </ul>
            <span>spyMaster:</span><button class="btn" id="blue_master" name="joinButton"><i class="fas fa-plus"></i></button>
            <ul id="kekSpyMaster" class="list-group"></ul>
        </div>
        <div id="nincsCsapat" class="col">
          <p>Nincs csapat</p>
            <ul id='nincsCsapatUl' class="list-group lists">
            </ul>
        </div>
    </div>
    <div id="startButton" class="row justify-content-center"><button name="startButton" class="btn btn-success" >Start Game</button></div>
    </div>

    <div id="game" class="container mt-3" style="min-height: 500px;">
    <div class="row justify-content-center" style="display: none">
        <div class="main">
            {% for i in "x"|rjust:"5" %}
                {% for j in "x"|rjust:"5" %}
                    <div class="mapBox civil"></div>
                {% endfor %}
                <br />
            {% endfor %}
        </div>
    </div>
        <div class="row justify-content-center mt-3 mb-2">
            <div id="cardMatrix" class="flex-container" style="display: none">
            </div>
        </div>
    </div>

    {{ room_id|json_script:"room-id" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-id').textContent);
        var players;
        var aktTeam = '';

        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/codenames/'
            + roomName
            + '/'
        );

        socket.onopen = function (e) {
            socket.send(JSON.stringify({
                'event': 'socket_connected',
                'username': '{{ user.username }}'
            }))
        }

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.event == 'join')
            {
                data.players = JSON.parse(data.players);
                count = data.players.length;
                $("#playersCount").text(count);
                players = data.players;
                //console.log(players)
                renderPlayerList(players)

                if (players.length >= 1 && $('#nincsCsapatUl').html().trim() == "") { // TODO: 1-et atirni elesben 4-re!!!!!
                    $("#startButton").show();
                } else {
                    $('#startButton').hide();
                }
            }
            else if (data.event == "error") {
                if (data.to_user == '{{ user.username }}')
                {
                    alert(data.msg);
                }
            } else if (data.event == "game") {
                if (aktTeam == ''){
                    aktTeam = data.starting_team;
                    console.log("akt team: " + aktTeam);
                }
                renderCardMatrix(data.matrix)
            }
        };

        socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            window.location.href = "{% url 'codenames:exit_room' %}";
        };

        $("button[name='joinButton']").click( function () {
            let a = $(this);
            console.log(a.attr('id'));

            socket.send(JSON.stringify({
                'event': 'change_team',
                'user': '{{ user.username }}',
                'team': a.attr('id')
            }));
        });

        $("button[name='startButton']").click( function () {
            $('#startButton').hide();
            socket.send(JSON.stringify({
                'event': 'start_game',
            }));
        });

        function renderPlayerList(players)
        {
            // a listak kiuritese,
            $("#nincsCsapatUl").empty();
            $("#kekCsapatUl").empty();
            $("#pirosCsapatUl").empty();
            $("#kekSpyMaster").empty();
            $("#pirosSpyMaster").empty();


            for(var i = 0; i<players.length; i++)
            {
                let player = players[i];
                if(player.team == 'red'){
                    if (player.master){
                        $("#pirosSpyMaster").append("<li class='list-group-item list-group-item-danger'>"+ player.name +"</li>");
                    } else {
                        $("#pirosCsapatUl").append("<li class='list-group-item list-group-item-danger'>"+ player.name +"</li>");
                    }
                } else if (player.team == 'blue') {
                    if (player.master){
                    $("#kekSpyMaster").append("<li class='list-group-item list-group-item-primary'>"+ player.name +"</li>");
                    } else {
                    $("#kekCsapatUl").append("<li class='list-group-item list-group-item-primary'>"+ player.name +"</li>");
                    }
                } else {
                    $("#nincsCsapatUl").append("<li class='list-group-item list-group-item-secondary'>"+ player.name +"</li>");
                }
            }
        }

        function getCurrentPlayer() {
            for(let i = 0; i < players.length; i++) {
                if (players[i].name == "{{ user.username }}") {
                    return players[i];
                }
            }
        }

        function renderCardMatrix(words_map) {
            matrix = JSON.parse(words_map);
            // cardmatrix kiuritese
            $('#cardMatrix').empty();


            for (let i = 0; i<matrix.length; i++)
            {
                for (let j = 0; j < matrix[i].length; j++)
                {
                    let card = matrix[i][j];
                    if (card.team == 'blue') {
                        if (getCurrentPlayer().master) {
                            if (card.guessed) {
                                //$('#cardMatrix').append("{% word_card card.word 'kek kek-kitalalt' %}");
                                $('#cardMatrix').append(`<div class='wordCard kek kek-kitalalt'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            } else {
                                $('#cardMatrix').append(`<div class='wordCard kek'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            }
                        } else {
                            if (card.guessed) {
                                $('#cardMatrix').append(`<div class='wordCard kek kek-kitalalt'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            } else {
                                $('#cardMatrix').append(`<div class='wordCard'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            }
                        }
                    } else if (card.team == 'red')
                    {
                        if (getCurrentPlayer().master) {
                            if (card.guessed) {
                                $('#cardMatrix').append(`<div class='wordCard piros piros-kitalalt'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            } else {
                                $('#cardMatrix').append(`<div class='wordCard piros'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            }
                        } else {
                            if (card.guessed) {
                                $('#cardMatrix').append(`<div class='wordCard piros piros-kitalalt'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            } else {
                                $('#cardMatrix').append(`<div class='wordCard'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                            }
                        }
                    } else if (card.team == 'killer') {
                        if (getCurrentPlayer().master) {
                            $('#cardMatrix').append(`<div class='wordCard gyilkos'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                        } else
                        {
                            $('#cardMatrix').append(`<div class='wordCard'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                        }
                    } else {
                        $('#cardMatrix').append(`<div class='wordCard'><div class='textBox'><p class='cardText'>${card.word}</p></div></div>`);
                    }
                }
            }
            $("#cardMatrix").show();
        }
    </script>

{% endblock %}