{% extends 'loginApp/header.html' %}

{% block title %}SmartHome{% endblock %}

{% block content %}

<div class="footer" style="padding:20px"> </div>

<div class="container">
    <div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            LED kapcsolok
            </button>
        </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            {% for led in leds %}
            <div class="col-12 col-lg-5 pb-3 m-auto">
            <button id="{{ led }}" name="1" class="btn btn-success btn-block" value="{{ led }}">{{ led }}. kapcsolo Be <i id='{{ led }}stateicon' class="fas fa-toggle-on"></i></button>
            <button id="{{ led }}" name="0" class="btn btn-danger btn-block" value="{{ led }}">{{ led }}. kapcsolo Ki <i id='{{ led }}stateicon' class="fas fa-toggle-off"></i></button>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $("button").click(function (){
        var id = $(this).val();
        console.log($(this).attr('value'));
        console.log($(this).attr('name'));
        $.post("{% url 'smartHome:ajax_switch' %}", {
            kapcsolo: $(this).attr('value'),
            allapot: $(this).attr('name'),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(response) {
            json = response;
            console.log(json);

        });
    });
</script>

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>