{% extends 'loginApp/header.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}Recept reszletek{% endblock %}

{% block content %}
    <a href="{% url 'loginApp:recipes' %}" class="btn btn-danger">vissza</a>
    <a href="{% url 'loginApp:recipe_pdf_generate' recipe_obj.mask_pk %}" target="_blank" class="btn btn-warning">PDF generalas</a>

    {% if recipe %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                    <tr>
                        <td>
                            nev:
                        </td>
                        <td>
                            {{ recipe.name |as_crispy_field }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            leiras:
                        </td>
                        <td>
                            {{ recipe.description |as_crispy_field }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            kategoria:
                        </td>
                        <td>
                        {{ recipe.category |as_crispy_field }}
                        </td>
                        <div class="modal" tabindex="-1" role="dialog">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ category_form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                        </div>
                        <td>
                            <a id="view_category" style="cursor: pointer; cursor: hand;"><i class="fas fa-eye"></i></a>
                            {% if recipe.formstate == 'update' %}
                        <a href="{% url 'loginApp:add_category' %}" id="add_category" onclick="return showAddPopup(this);"><i class="fas fa-plus"></i></a>
                        <a id="edit_category" style="cursor: pointer; cursor: hand;"><i class="fas fa-pencil-alt"></i></a>
                                {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            nehezseg:
                        </td>
                        <td>
                            {{ recipe.difficulty |as_crispy_field }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            allergenek:
                        </td>
                        <td>
                            {{ recipe.allergies |as_crispy_field }}
                        </td>
                        <td>
                            <a id="view_allergies" style="cursor: pointer; cursor: hand;"><i class="fas fa-eye"></i></a>
                        {% if recipe.formstate == 'update' %}
                            <a href="{% url 'loginApp:add_allergie' %}" id="add_allergies" onclick="return showAddPopup(this);"><i class="fas fa-plus"></i></a>
		                    <a id="edit_allergies" style="cursor: pointer; cursor: hand;"><i class="fas fa-pencil-alt"></i></a>
                        {% endif %}
                        </td>
                    </tr>
                <tr>
                    <td>
                        Hozzavalok:
                    </td>
                    {% if recipe.formstate == 'update' %}
                    <td><a href="{% url 'loginApp:add_ingredient' %}?selected_name_id=1&recipe_id={{ recipe_obj.pk }}" id="add_ingredient" onclick="return showAddPopup(this)"><i class="fas fa-plus"></i></a></td>
                    {% endif %}
                    </tr>
                        {% if ings %}
                        {% for ing, group in ings %}
                            <tr>
                            <td> </td>
                                <td>
                                    - {{ ing.name }}: {{ ing.measure | upscale_measure_2:ing.unit }} {{ ing.unit }}
                                </td>
                                {% if user.is_authenticated and perms.edit_ingredient and recipe.formstate == 'update' %}
                                <td>
                                    <a id="view_ingredient" name="{{ ing.pk }}" style="cursor: pointer; cursor: hand;"><i class="fas fa-eye"></i></a>
                                    <a id="edit_ingredient" name="{{ ing.pk }}" style="cursor: pointer; cursor: hand"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{% url 'loginApp:ingredient_del' ing.pk %}?parent={{ request.path }}"><i class="fas fa-times"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                            <td> </td>
                                <td>- Nincs hozzavalo</td>
                            </tr>
                        {% endif %}
                            <td>Kép: </td>
                            {% if recipe.formstate == "view" %}
                                {% if recipe_obj.image.name != 'False' %}
                                    <td><img src="{{ recipe_obj.image.url }}" class="recipeImage" /> </td>
                                {% endif %}
                            {% else %}
                                <td>{{ recipe.image }}</td>
                            {% endif %}
            </table>
            {% if recipe.formstate == 'update' %}
                <button class="btn btn-success" type="submit">Mentés</button>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}