{% extends "loginApp/header.html" %}

{% block title %}Belepes{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
      <button id="rfidBtn" class="btn btn-primary">RFID</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'loginApp:register' %}">Create an account</a>.</p>
</div>

{% endblock %}


{% block script %}
    <script type="application/javascript">
    $("#rfidBtn").click(function () {
        window.location.href = "{% url 'loginApp:login_with_api' %}" + "?"+ "username=" + $("#id_username").val()
    })
    </script>
{% endblock %}