{% extends 'loginApp/header.html' %}
{% load custom_filters %}

{% block title %}Receptek{% endblock %}

{% block content %}

{% if perms.add_recipe %}
<a class="btn btn-primary" style="display: inline" href="{% url 'loginApp:add_recipe' %}">új</a>
{% endif %}
<a class="btn btn-primary" style="display: inline" href="{% url 'loginApp:storage' %}">raktáram</a>

<table class="table table-bordered table-striped mt-2">
<tr>
    <th>Név</th>
    <th>Kategória</th>
    <th>Nehézség</th>
    <th>Muveletek</th>
</tr>
{% if QuerySet %}
    {% for recipe in QuerySet %}
        <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.category }}</td>
            <td>{{ recipe.difficulty }}</td>
            <td>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'loginApp:recipe_edit' recipe.mask_pk %}">szerkeszt</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'loginApp:recipe_view' recipe.mask_pk %}">megnéz</a>
            </td>
        </tr>
    {% endfor %}

{% else %}
    <td colspan="3">Nincs talalat</td>
{% endif %}
</table>


{% endblock %}